
<%- include('html_head')%>
<style>
    body{background-color: #a5a6a69b;}
</style>
<%- include('navbar')%>



<form class="w-50 m-auto my-5 p-4 rounded-5 bg-light" >
    <div class="my-3 form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
    </div>
    <div class="my-3 form-group">
      <label for="exampleInputPassword1">Subject</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Subject">
    </div>
    <div class="my-3 form-group">
      <label for="exampleInputPassword1">Message</label>
      <textarea class="form-control" name="" id="" cols="" rows="8"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>



<%- include('html_foot')%>