<%- include('html_head')%>
  <style>
    body {
      background-color: #DAE0E6;
    }
  </style>

  <nav class="navbar navbar-expand-lg bg-light py-3 px-5">
    <div class="container">
      <a class="navbar-brand fw-bold fs-2" href="/home">CheckIt</a>
      <h1 class="navbar-brand my-auto fs-5 me-5"> Welcome <span class="text-success ms-2">
          <%= user.username%>
        </span></h1>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fs-6 mx-2 my-auto" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6 mx-2 my-auto" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6 mx-2 my-auto" href="/ownProfile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6 mx-2 my-auto" href="/writePost">Write</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6 mx-2 my-auto" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <style>
    body {
      text-align: center;
      padding-bottom: 4vmax;
    }

    #editorjs {
      background-color: rgb(255, 255, 255);
      width: 60vw;
      min-height: 40vh;
      margin: 2vmax auto;
      border-radius: 1vmax;
      text-align: left;
      padding: 2vmax auto;
      
    }
    #editorjs > img{
      height: 200px;
    }
    .btn{
      font-size: 1.3vmax;
      font-weight: 600;
      letter-spacing: 1px;
      background-color: #fff;
      color: #000;

    }
  </style>

  <h1 class="mt-4">Add Post</h1>

  <div id="editorjs"></div>

  <button class="btn btn-dark">Publish</button>



  <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.3.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>

  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

  <script src="/javascripts/editor.js"></script>

  <%- include('html_foot')%>